//Primary Colors
$primary-color1 : hsl(158, 36%, 37%); //Dark cyan
$primary-color2 :  hsl(30, 38%, 92%); //Cream

//Neutral

$neutral1: hsl(212, 21%, 14%); // Very dark blue: 
$neutral2: hsl(228, 12%, 48%); // Dark grayish blue
$neutral3: hsl(0, 0%, 100%); // White

//Typography

//Body Copy
$font-size : 14px; //paragraph
//Font
$font-family1: Montserrat; //(https://fonts.google.com/specimen/Montserrat)
$font-weight1: 500;
$font-weight2: 700;

$font-family2: Fraunces; //(https://fonts.google.com/specimen/Fraunces)
$font-weight3: 700;
